.header {
  width: 100%;
  height: 15px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
}
.container{padding: 0;}
.section_0 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 45px;
  position: relative;
}

.picture {
  background-image: url(img/me.jpg);
  background-size: contain;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-right: 25px;
}

#change_lang {
  display: block;
  position: absolute;
  right: 100px;
  border-radius: 5px;
  border: none;
  background-image: url(img/icons8-russian-federation-64.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 45px;
  height: 35px;
}
#change_lang2 {
  display: block;
  position: absolute;
  right: 50px;
  border-radius: 5px;
  border: none;
  background-image: url(img/icons8-usa-64.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 45px;
  height: 35px;
}

#change_lang:focus {
  outline: unset;
}

.information {
  width: 100%;
  height: fit-content;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.main_aim {
  width: 500px;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 15px;
  padding: 5px;
}
.about_myself {
  width: 500px;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 15px;
  padding: 5px;
}
.education {
  width: 500px;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 15px;
  padding: 5px;
}
.languages {
  width: 500px;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 15px;
  padding: 5px;
}
.skills {
  width: 500px;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 15px;
  padding: 5px;
}
.courses {
  width: 500px;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 15px;
  padding: 5px;
}
.experience {
  width: 500px;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 15px;
  padding: 5px;
}
.projects {
  width: 500px;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 15px;
  padding: 5px;
}

.main_aim h2::before {
  content: ' ';
  background-image: url(img/bullseye.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.about_myself h2::before {
  content: ' ';
  background-image: url(img/person-lines-fill.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.education h2::before {
  content: ' ';
  background-image: url(img/briefcase-fill.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.languages h2::before {
  content: ' ';
  background-image: url(img/globe.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.skills h2::before {
  content: ' ';
  background-image: url(img/keyboard.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.courses h2::before {
  content: ' ';
  background-image: url(img/wallet-fill.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.experience h2::before {
  content: ' ';
  background-image: url(img/server.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.projects h2::before {
  content: ' ';
  background-image: url(img/file-earmark-easel.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.contacts {
  padding: 20px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.telephone::before {
  content: ' ';
  background-image: url(img/telephone.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-flex;
  vertical-align: middle;
}

.telephone {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.email {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.email::before {
  content: ' ';
  background-image: url(img/mailbox.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-flex;
  vertical-align: middle;
}

.telegram {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.telegram::before {
  content: ' ';
  background-image: url(img/telegram.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-flex;
  vertical-align: middle;
}

.instagram {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.instagram::before {
  content: ' ';
  background-image: url(img/instagram.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-flex;
  vertical-align: middle;
}

@media (max-width: 425px) {
  #change_lang {
    right: 5px;
    top: 0;
  }
  #change_lang2 {
    left: 5px;
    top: 0;
  }
  .main_aim {
    width: 400px;
  }
  .about_myself {
    width: 400px;
  }
  .education {
    width: 400px;
  }
  .languages {
    width: 400px;
  }
  .skills {
    width: 400px;
  }
  .courses {
    width: 400px;
  }
  .experience {
    width: 400px;
  }
  .projects {
    width: 400px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacts a {
    font-size: 25px;
  }
  .telephone::before {
    width: 30px;
    height: 30px;
  }
  .email::before {
    width: 30px;
    height: 30px;
  }
  .telegram::before {
    width: 30px;
    height: 30px;
  }
  .instagram::before {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1024px) {
  .main_aim {
    width: 350px;
  }
  .about_myself {
    width: 350px;
  }
  .education {
    width: 350px;
  }
  .languages {
    width: 350px;
  }
  .skills {
    width: 350px;
  }
  .courses {
    width: 350px;
  }
  .experience {
    width: 350px;
  }
  .projects {
    width: 350px;
  }
}

